{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  {{_('Confirm that you accept the agreement')}}
{% endblock %}


{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_accept_agreement', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-five-sixths">

    {{ page_header(_('Confirm that you accept the agreement')) }}

    {% call form_wrapper(class='top-gutter') %}

      {% if current_service.organisation.agreement_signed_on_behalf_of_name and current_service.organisation.agreement_signed_on_behalf_of_email_address %}
        <p class="govuk-body">
          {{_("I confirm that I have the legal authority to accept the GOV.UK Notify data sharing and financial agreement (version %%s) on behalf of %%s (%%s) and that %%s will be bound by it.") % (current_service.organisation.agreement_signed_version, current_service.organisation.agreement_signed_on_behalf_of_name, current_service.organisation.agreement_signed_on_behalf_of_email_address,current_service.organisation.name)}}
        </p>
      {% else %}
        <p class="govuk-body">
          {{_("I confirm that I have the legal authority to accept the GOV.UK Notify data sharing and financial agreement (version %%s) and that %%s will be bound by it.") % (current_service.organisation.agreement_signed_version, current_service.organisation.name)}}
        </p>
      {% endif %}

      {{ page_footer(_('Accept this agreement')) }}

    {% endcall %}

  </div>
</div>

{% endblock %}
