{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  {{_('Download the GOV.UK Notify data sharing and financial agreement')}}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="heading-large">
      {{_('Download the GOV.UK Notify data sharing and financial agreement')}}
    </h1>

    <p class="govuk-body">
      {% if owner %}
      {{_("<a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">Download the agreement (PDF)</a> for %%s.") % (download_link, owner) }}
      {% else %}
      <a class="govuk-link govuk-link--no-visited-state" href="{{ download_link }}">{{_('Download the agreement (PDF)')}}</a>.
      {% endif %}
    </p>
    <p class="govuk-body">
      {{_('The agreement contains commercially sensitive information. Do not share it outside your organisation.')}}
    </p>

  </div>
</div>

{% endblock %}
