{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
    {{_('About your service')}}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ page_header(_('About your service')) }}

    <p class="govuk-body">{{_('Give your service a name that tells users what your messages are about, as well as who they’re from. For example:')}}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{_('School admissions – %%s') % current_user.default_organisation.name}}</li>
          <li>{{_('Electoral services – %%s') % current_user.default_organisation.name}}</li>
          <li>{{_('Blue Badge – %%s') % current_user.default_organisation.name}}</li>
        </ul>
        <p class="govuk-body">{{_('You should only use an acronym or initialism if your users are already familiar with it.')}}</p>

    {% call form_wrapper() %}

      {{ form.name(param_extensions={"hint": {"text": _("You can change this later")}}) }}

      {{ page_footer(_('Add service')) }}

    {% endcall %}

  </div>
</div>

{% endblock %}
