{% extends "content_template.html" %}

{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = _('About Notify') %}

{% block per_page_title %}
  {{_('Features')}}
{% endblock %}

{% block content_column_content %}

<h1 class="heading-large">{{_('Features')}}</h1>
<p class="govuk-body">{{_('If you work for central government, a local authority or the NHS, you can use GOV.UK Notify to keep your users updated.')}}</p>
<p class="govuk-body">{{_('Notify makes it easy to create, customise and send:')}}</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features_email') }}">{{_('emails')}}</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features_sms') }}">{{_('text messages')}}</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features_letters') }}">{{_('letters')}}</a></li>
</ul>
<p class="govuk-body">{{_('You do not need any technical knowledge to use Notify.')}}</p>
{% if not current_user.is_authenticated %}
  <p class="govuk-body">{{_("<a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">Create an account</a> for free and try it yourself.") % url_for('main.register')}}</p>
{% endif %}

<h2 class="heading-medium" id="templates">{{_('Reusable message templates')}}</h2>
<p class="govuk-body">{{_('To send an email, text or letter with Notify, you need to create a reusable message template first.')}}</p>
<p class="govuk-body">{{_('Templates let you send the same thing to lots of people, as often as you need to, without writing a new message each time.')}}</p>

<h2 class="heading-medium" id="personalised-messages">{{_('Personalised content')}}</h2>
<p class="govuk-body">{{_('Notify makes it easy to send personalised messages from a single template.')}}</p>
<p class="govuk-body">{{_("See <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">how to personalise your content</a>.") % url_for('.edit_and_format_messages', _anchor='personalised-content')}}</p>

<h2 class="heading-medium" id="bulk-sending">{{_('Bulk sending')}}</h2>
<p class="govuk-body">{{_('To send a batch of messages at once, upload a list of contact details to Notify. If you’re sending emails and text messages, you can also schedule the date and time you want them to be sent.')}}</p>

<h2 class="heading-medium" id="api">{{_('API integration')}}</h2>
<p class="govuk-body">{{_('You can integrate the Notify API with your web application or back-office system to send messages automatically.')}}</p>
<p class="govuk-body">{{_("Read our <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">API documentation</a> for more information.") % url_for('.documentation')}}</p>

<h2 class="heading-medium" id="reporting">{{_('Reporting')}}</h2>
<p class="govuk-body">{{_('Notify’s real-time dashboard lets you see the number of messages sent. You can also check the current status of any message to see when it was delivered.')}}</p>
<p class="govuk-body">{{_("Read more about the <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">delivery status</a> of your messages.") % url_for('main.message_status')}}</p>

<h2 class="heading-medium" id="permissions">{{_('Permissions')}}</h2>
<p class="govuk-body">{{_('Control which members of your team can see, create, edit and send messages.')}}</p>
<p class="govuk-body">{{_('Notify lets you:')}}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{_('set different permission levels for each team member')}}</li>
  <li>{{_('invite team members who do not have a government email address')}}</li>
  <li>{{_('choose who else can manage team members')}}</li>
</ul>

<h2 class="heading-medium" id="performance">{{_('Performance')}}</h2>
<p class="govuk-body">{{_('Notify commits to:')}}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{_('sending 95%% of emails and text messages within 10 seconds')}}</li>
  <li>{{_('printing and posting letters by 3pm the next working day (if you send them to us before 5:30pm)')}}</li>
</ul>

<p class="govuk-body">{{_('We send messages through several different providers. If one provider fails, Notify switches to another so that your messages are not affected.')}}</p>

<p class="govuk-body">{{_("Visit our <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">performance data</a> page to see how Notify is performing.") % url_for('main.performance')}}</p>

<h2 class="heading-medium" id="security">{{_('Security')}}</h2>
<p class="govuk-body">{{_('Notify protects and manages data to meet the needs of government services.')}}</p>

<h3 class="heading-small">{{_('Hide sensitive information')}}</h3>
<p class="govuk-body">{{_('Notify lets you redact personal information from your messages after they have been sent. This means that only the recipient can see that information.')}}</p>

<h3 class="heading-small">{{_('Two-factor authentication')}}</h3>
<p class="govuk-body">{{_('Notify uses two-factor authentication (2FA) to keep your account secure. When you sign in, we’ll send a unique one-time code to your phone and ask you to enter it before we let you use your account.')}}</p>
<p class="govuk-body">{{_("Read more about <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">security</a>.") % url_for('main.security')}}

<h2 class="heading-medium" id="support">{{_('Support')}}</h2>
<p class="govuk-body">{{_('Notify provides 24-hour online support. If you have an emergency outside office hours, we’ll reply within 30 minutes.')}}</p>
<p class="govuk-body">{{_("Find out more about <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">support</a>.") % url_for('.support')}}</p>

{% endblock %}
