{% extends "content_template.html" %}

{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  {{_('Get started')}}
{% endblock %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = _('Using Notify') %}

{% block content_column_content %}

<h1 class="heading-large">{{_('Get started')}}</h1>

<ol class="get-started-list govuk-list">
  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">{{_('Check if GOV.UK Notify is right for you')}}</h2>
    <p class="govuk-body">{{_("Read about our <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">features</a>, <a class=\"govuk-link govuk-link--no-visited-state\" href=\"{{ url_for('.pricing') }}\">pricing</a> and <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">roadmap</a>.") % (url_for('main.features'), url_for('main.roadmap'))}}</p>
    <p class="govuk-body">
      {{_("Check <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">whether your organisation can use Notify</a>.") % url_for('.who_can_use_notify')}}
    </p>
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">{{_('Create an account')}}</h2>
    {% if not current_user.is_authenticated %}
      <p class="govuk-body">{{_("<a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">Create an account</a> for free and add your first Notify service. When you add a new service it will start in <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">trial mode</a>.") % (url_for('.register'), url_for('main.trial_mode_new'))}}</p>
    {% else %}
      <p class="govuk-body">{{_("Create an account for free and add your first Notify service. When you add a new service, it will start in <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">trial mode</a>.") % url_for('main.trial_mode_new')}}</p>
    {% endif %}
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">{{_('Write some messages')}}</h2>
    <p class="govuk-body">{{_("Add message templates with examples of the content you plan to send. You can use our <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">guidance</a> to help you.") % url_for('main.guidance_index')}}</p>
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">{{_('Set up your service')}}</h2>
    {% if not current_user.is_authenticated or not current_service %}
    <p class="govuk-body">{{_('Review your settings to add message branding, reply-to addresses and sender information.')}}</p>
    <p class="govuk-body">{{_('Add team members and check their permissions.')}}</p>
    {% else %}
    <p class="govuk-body">{{_("Review your <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">settings</a> to add message branding, reply-to addresses and sender information.") % url_for('.service_settings', service_id=current_service.id)}}</p>
    <p class="govuk-body">{{_("Add <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">team members</a> and check their permissions.") % url_for('.manage_users', service_id=current_service.id)}}</p>
    {% endif %}
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">{{_('Set up an API integration (optional)')}}</h2>
    <p class="govuk-body">{{_('You can use the Notify API to send messages automatically.')}}</p>
    <p class="govuk-body">{{_("Our <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">documentation</a> explains how to integrate the API with a web application or back office system.") % url_for('main.documentation')}}</p>
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">{{_('Start sending messages')}}</h2>
    {% if not current_user.is_authenticated or not current_service %}
    <p class="govuk-body">{{_("When you’re ready to send messages to people outside your team, go to the <b class=\"govuk-!-font-weight-bold\">Settings</b> page and select <b class=\"govuk-!-font-weight-bold\">Request to go live</b>. We’ll approve your request within one working day.")}}</p>
    {% else %}
    <p class="govuk-body">{{_("You should <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">request to go live</a> when you’re ready to send messages to people outside your team. We’ll approve your request within one working day.") % url_for('.request_to_go_live', service_id=current_service.id)}}</p>
    {% endif %}
    <p class="govuk-body">{{_("Check <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">how to pay</a> if you’re planning to send letters or exceed the <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">free text message allowance</a>.") % (url_for('main.how_to_pay'), url_for('.pricing', _anchor='text-messages'))}}</p>
  </li>

</ol>

{% endblock %}
