{% extends "content_template.html" %}

{% from "components/banner.html" import banner_wrapper %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = _('About Notify') %}

{% block per_page_title %}
  {{_('Terms of use')}}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{_('Terms of use')}}</h1>

  <p class="govuk-body">
    {{_('These terms apply to your service’s use of GOV.UK&nbsp;Notify. You must be the service manager to accept them.')}}
  </p>

  <h2 class="heading-medium" id="when-using-notify">{{_('When using Notify')}}</h2>
  <p class="govuk-body">{{_('You must:')}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{_('complete your organisation’s information assurance process (you do not need to include Notify or our delivery partners, we’ve already done that)')}}</li>
    <li>{{_('tell us immediately if you have any security breaches')}}</li>
    <li>{{_('keep your API keys secure')}}</li>
    <li>{{_('get the right levels of consent (to send messages and to use data)')}}</li>
    <li>{{_("not send unsolicited messages, only ones related to a transaction or something the user has subscribed to be updated about (<a class=\"govuk-link govuk-link--no-visited-state\" href=\"https://www.gov.uk/service-manual/design/sending-emails-and-text-messages\">check the Service Manual</a> if you’re not sure)")}}</li>
    <li>
      {{_("send messages that meet the GOV.UK Service Manual standards for <a class=\"govuk-link govuk-link--no-visited-state\" href=\"https://www.gov.uk/service-manual/design/sending-emails-and-text-messages\">writing text messages and emails</a>")}}</li>
    <li>{{_('check that the data you add to Notify is accurate and complies with data protection legislation')}}</li>
  </ul>
  <p class="govuk-body">{{_('If you do not keep to these terms, we might have to stop sending your messages.')}}</p>

  <p class="govuk-body">{{_('Notify will:')}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{_('send all the messages you pass to us, as long as they meet our guidelines')}}</li>
    <li>
      {{_("show how Notify is performing (through our <a class=\"govuk-link govuk-link--no-visited-state\" href=\"{{ url_for('main.performance') }}\">performance</a> and <a class=\"govuk-link govuk-link--no-visited-state\" href=\"https://status.notifications.service.gov.uk/\">status</a> pages)")}}
    </li>
    <li>{{_("keep your data <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">secure</a>") % url_for('.security')}}</li>
    <li>{{_('give you one month’s notice by email if we change our terms of use or delivery providers')}}</li>
  </ul>

  <h2 class="heading-medium" id="leaving-notify">{{_('Leaving Notify')}}</h2>
  <p class="govuk-body">{{_("You can <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">contact us</a> at any time to close your account.") % url_for('.support')}}</p>
  <p class="govuk-body">{{_("Check our privacy notice to find out <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s#how-long-we-keep-your-data\">how long we keep your personal data</a>.") % url_for('.privacy')}}</p>

{% endblock %}
