{% extends "content_template.html" %}

{% from "components/page-header.html" import page_header %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Pricing information' %}

{% block per_page_title %}
  {{_('Billing details')}}
{% endblock %}

{% block content_column_content %}

    {{ page_header(_('Billing details')) }}

    <p class="govuk-body">
      {{_("You can use the information on this page to add the Cabinet Office as a supplier. Your organisation may need to do this before you can raise a purchase order (PO).")}}
    </p>

    <p class="govuk-body">
      {{_("<a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">Contact us</a> if you need any other details.") % url_for('main.support')}}
    </p>

    <h2 class="heading-medium govuk-!-margin-top-7" id="supplier-details">
      {{_('Supplier details')}}
    </h2>

    <p class="govuk-body">
      {{_('Cabinet Office')}}
    </p>

    <p class="govuk-body">
      {{_("The White Chapel Building <br>
      10 Whitechapel High Street <br>
      London <br>
      E1 8QS")}}
    </p>

    <h3 class="heading-small" id="email-addresses">
      {{_('Email addresses')}}
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      {% for email in billing_details['notify_billing_email_addresses'] %}
      <li>
        {{ email }}
      </li>
      {% endfor %}
    </ul>

    <h3 class="heading-small" id="vat-number">
      {{_("<abbr title=\"Value Added Tax\">VAT</abbr> number")}}
    </h3>

    <div class="govuk-!-margin-bottom-4">
    {{ copy_to_clipboard(
        _('GB 88 88 010 80'),
        thing=_('<abbr title="Value Added Tax">VAT</abbr> number'),
    ) }}
    </div>

    <h2 class="heading-medium govuk-!-margin-top-7" id="bank-details">
      {{_('Bank details')}}
    </h2>

    <p class="govuk-body">
      {{_("National Westminster Bank PLC (part of RBS group) <br>
      Government Banking Services Branch <br>
      2nd Floor <br>
      280 Bishopsgate <br>
      London <br>
      EC2M 4RB")}}
    </p>

    <h3 class="heading-small" id="account-name">
      {{_('Account name')}}
    </h3>

    <p class="govuk-body">
      {{_('Cabinet Office')}}
    </p>

    <h3 class="heading-small" id="account-number">
      {{_('Account number')}}
    </h3>

    <div class="govuk-!-margin-bottom-4">
    {{ copy_to_clipboard(
        billing_details['account_number'],
        thing=_('account number'),
      ) }}
    </div>

    <h3 class="heading-small" id="sort-code">
      {{_('Sort code')}}
    </h3>

    <div class="govuk-!-margin-bottom-4">
    {{ copy_to_clipboard(
        billing_details['sort_code'],
        thing=_('sort code'),
      ) }}
    </div>


    <h3 class="heading-small" id="iban">
      {{_("<abbr title=\"International Bank Account Number\">IBAN</abbr>")}}
    </h3>
    <div class="govuk-!-margin-bottom-4">
    {{ copy_to_clipboard(
        billing_details['IBAN'],
        thing=_('IBAN'),
      ) }}
    </div>

    <h3 class="heading-small" id="swift-code">
      {{_('Swift code')}}
    </h3>

    <div class="govuk-!-margin-bottom-4">
    {{ copy_to_clipboard(
        billing_details['swift'],
        thing=_('Swift code'),
      ) }}
    </div>

    <h2 class="heading-medium govuk-!-margin-top-7" id="invoice-address">
      {{_('Invoice address')}}
    </h2>

    <p class="govuk-body">
      {{_("SSCL – Accounts Receivable <br>
      PO Box 221 <br>
      Thornton-Cleveleys <br>
      Blackpool <br>
      Lancashire <br>
      FY1 9JN")}}
    </p>

{% endblock %}
