{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}
{% from "components/table.html" import mapping_table, row, text_field, field, row_heading %}
{% from "components/live-search.html" import live_search %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Pricing information' %}

{% block per_page_title %}
  {{_('Pricing')}}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{_('Pricing')}}</h1>

    {{ content_metadata(
      data={
        _("Last updated"): _("1 May 2022")
      }
    ) }}

  <p class="govuk-body">GOV.UK Notify is free to use unless you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{_("exceed your <a class=\"govuk-link govuk-link--no-visited-state\" href=\"#text-messages\">free text message allowance</a>")}}</li>
    <li>{{_("send <a class=\"govuk-link govuk-link--no-visited-state\" href=\"#letters\">letters</a>")}}</li>
  </ul>

  <p class="govuk-body">{{_('You’ll only pay for the additional text messages or letters that you send. There’s no monthly charge, no setup fee and no procurement cost.')}}</p>

  <p class="govuk-body">
    {% if not current_user.is_authenticated %}
      {{_("<a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">Create an account</a> then add as many unique services as you need to.</p>") % url_for('main.register')}}
    {% else %}
      {{_("You can add as many unique services as you need to.")}}
    {% endif %}
  </p>

  <p class="govuk-body">{{_("When you add a new service it will start in <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">trial mode</a>.") % url_for('main.trial_mode_new')}}</p>

  <h2 class="heading-medium" id="emails">{{_('Emails')}}</h2>
  <p class="govuk-body">{{_('It’s free to send emails through Notify.')}}</p>

  <h2 class="heading-medium" id="text-messages">{{_('Text messages')}}</h2>
  <p class="govuk-body">{{_('Each unique service you add has an annual allowance of free text messages.')}}</p>
  <p class="govuk-body">{{_('When a service has used its annual allowance, it costs %%s pence (plus VAT) for each text message you send.') % sms_rate }}</p>
  <p class="govuk-body">{{_('You’ll use more free messages, or pay more for each message, if you send <a class="govuk-link govuk-link--no-visited-state" href="#long-text-messages">text messages longer than 160 characters</a>.')}}</p>
  <p class="govuk-body">{{_('You may also use more free messages, or pay more for each message, if you:')}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{_('use certain <a class="govuk-link govuk-link--no-visited-state" href="#symbols">signs and symbols</a>')}}</li>
    <li>{{_('use <a class="govuk-link govuk-link--no-visited-state" href="#accents">accents and accented letters</a>')}}</li>
    <li>{{_('send text messages to <a class="govuk-link govuk-link--no-visited-state" href="#international-numbers">international numbers</a>')}}</li>
  </ul>

  <p class="govuk-body">{{_('See <a class="govuk-link govuk-link--no-visited-state" href="%%s">how to pay</a>.') % url_for('main.how_to_pay')}}</p>

  <h3 class="heading-small" id="free-text-message-allowance">{{_('Free text message allowance')}}</h3>

  <p class="govuk-body">{{_('The current allowance is:')}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{_('40,000 free text messages for national services')}}</li>
        <li>{{_('20,000 free text messages for regional services')}}</li>
        <li>{{_('10,000 free text messages for state-funded schools and GP practices')}}</li>
    </ul>
  <p class="govuk-body">{{_('Each unique service you add has a separate allowance.')}}</p>

  <h3 class="heading-small" id="long-text-messages">{{_('Long text messages')}}</h3>
  <p class="govuk-body">{{_('If a text message is longer than 160 characters (including spaces), it counts as more than one message.')}}</p>

  <div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption=_('Text message pricing'),
      field_headings=[_('Message length'), _('Charge')],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_length, charge in [
        (_('Up to 160 characters'), _('1 text message')),
        (_('Up to 306 characters'), _('2 text messages')),
        (_('Up to 459 characters'), _('3 text messages')),
        (_('Up to 612 characters'), _('4 text messages')),
        (_('Up to 765 characters'), _('5 text messages')),
        (_('Up to 918 characters'), _('6 text messages')),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <h3 class="heading-small" id="symbols">{{_('Signs and symbols')}}</h3>

  <p class="govuk-body">
    {{_('The following signs and symbols count as 2 characters each:')}}<br />
    <span class="extended-gsm-characters">[]{}^\|~€</span>
  </p>

  <p class="govuk-body">{{_('Using them can increase the cost of sending text messages.')}}</p>

  <h3 class="heading-small" id="accents">{{_('Accents and accented characters')}}</h3>
  <p class="govuk-body">{{_('Some languages, such as Welsh, use accented characters.')}}</p>
  <p class="govuk-body">{{_('The following accented characters do not affect the cost of sending text messages: Ä, É, Ö, Ü, à, ä, é, è, ì, ò, ö, ù, ü.')}}</p>
  <p class="govuk-body">{{_('Using other accented characters can increase the cost of sending text messages.')}}</p>
  {% set accentedChars %}
    <div class="bottom-gutter-3-2">
      {% call mapping_table(
        caption=_('Accented characters that affect text message charges'),
        field_headings=[_('Character'), _('Description')],
        field_headings_visible=True,
        caption_visible=False
      ) %}
        {% for letter, description in [
                ('Â', _('Capital letter A with circumflex')),
                ('Á', _('Capital letter A with acute')),
                ('À', _('Capital letter A with grave')),
                ('Ê', _('Capital letter E with circumflex')),
                ('È', _('Capital letter E with grave')),
                ('Ë', _('Capital letter E with dieresis')),
                ('Î', _('Capital letter I with circumflex')),
                ('Í', _('Capital letter I with acute')),
                ('Ì', _('Capital letter I with grave')),
                ('Ï', _('Capital letter I with dieresis')),
                ('Ô', _('Capital letter O with circumflex')),
                ('Ó', _('Capital letter O with acute')),
                ('Ò', _('Capital letter O with grave')),
                ('Û', _('Capital letter U with circumflex')),
                ('Ú', _('Capital letter U with acute')),
                ('Ù', _('Capital letter U with grave')),
                ('Ŵ', _('Capital letter W with circumflex')),
                ('Ẃ', _('Capital letter W with acute')),
                ('Ẁ', _('Capital letter W with grave')),
                ('Ẅ', _('Capital letter W with dieresis')),
                ('Ŷ', _('Capital letter Y with circumflex')),
                ('Ý', _('Capital letter Y with acute')),
                ('Ỳ', _('Capital letter Y with grave')),
                ('Ÿ', _('Capital letter Y with dieresis')),
                ('â', _('Lower case letter a with circumflex')),
                ('á', _('Lower case letter a with acute')),
                ('ê', _('Lower case letter e with circumflex')),
                ('ë', _('Lower case letter e with dieresis')),
                ('î', _('Lower case letter i with circumflex')),
                ('í', _('Lower case letter i with acute')),
                ('ï', _('Lower case letter i with dieresis')),
                ('ô', _('Lower case letter o with circumflex')),
                ('ó', _('Lower case letter o with acute')),
                ('û', _('Lower case letter u with circumflex')),
                ('ú', _('Lower case letter u with acute')),
                ('ŵ', _('Lower case letter w with circumflex')),
                ('ẃ', _('Lower case letter w with acute')),
                ('ẁ', _('Lower case letter w with grave')),
                ('ẅ', _('Lower case letter w with dieresis')),
                ('ŷ', _('Lower case letter y with circumflex')),
                ('ý', _('Lower case letter y with acute')),
                ('ỳ', _('Lower case letter y with grave')),
                ('ÿ', _('Lower case letter y with dieresis')),
              ] %}
          {% call row() %}
            {{ text_field(letter) }}
            {{ text_field(description) }}
          {% endcall %}
        {% endfor %}
      {% endcall %}
    </div>
  {% endset %}
  {{ govukDetails({
    "summaryText": _("Accented characters that affect text message charges"),
    "html": accentedChars
  }) }}

  <div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption=_('Pricing for text messages containing accented characters that affect the charges'),
      field_headings=[_('Message length'), _('Charge')],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_length, charge in [
        (_('Up to 70 characters'), _('1 text message')),
        (_('Up to 134 characters'), _('2 text messages')),
        (_('Up to 201 characters'), _('3 text messages')),
        (_('Up to 268 characters'), _('4 text messages')),
        (_('Each additional 67 characters'), _('1 additional text message')),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <h3 class="heading-small" id="international-numbers">{{_('Sending text messages to international numbers')}}</h3>
  <p class="govuk-body">{{_('It might cost more to send text messages to international numbers than UK ones, depending on the country.')}}</p>
  {% set smsIntRates %}
    {{ live_search(target_selector='#international-pricing .table-row', show=True, form=search_form, label=_('Search by country name or code')) }}

    <div id="international-pricing" class="bottom-gutter-3-2">
      {% call mapping_table(
        caption=_('International text message rates'),
        field_headings=[_('Country code'), _('Country'), _('Cost multiplier')],
        field_headings_visible=True,
        caption_visible=False
      ) %}
        {% for cc, names, billable_units in international_sms_rates %}
          {% call row() %}
            {{ text_field('+' + cc) }}
            {% call field() %}
              {% for name in names %}
                {{ name }}<br>
              {% endfor %}
            {% endcall %}
            {{ text_field('{}&hairsp;&times;'.format(billable_units)|safe) }}
          {% endcall %}
        {% endfor %}

        {% call row() %}
          {{ text_field('+882') }}
          {% call field() %}Worldwide{% endcall %}
          {{ text_field(_('Not supported')) }}
        {% endcall %}
      {% endcall %}
    </div>
  {% endset %}

  {{ govukDetails({
    "summaryText": _("International text message rates"),
    "html": smsIntRates
  }) }}

  <h2 class="heading-medium" id="letters">{{_('Letters')}}</h2>
  <p class="govuk-body">{{_('The cost of sending a letter depends on the postage you choose and how many sheets of paper you need.')}}</p>

  <p class="govuk-body">{{_('Prices include:')}}</p>
  <ul class="govuk-list govuk-list--bullet">
     <li>{{_('paper')}}</li>
     <li>{{_('postage')}}</li>
     <li>{{_('double-sided colour printing')}}</li>
     <li>{{_('C5 size envelopes with an address window')}}</li>
  </ul>

  <div>
    {% call mapping_table(
      caption=_('Letter pricing'),
      field_headings=[_('Paper'), _('Second class'), _('First class'), _('International')],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for sheets, second, first, international in [
        (_('1 sheet'), '41p', '63p', '96p'),
        (_('2 sheets'), '46p', '68p', '£1.04'),
        (_('3 sheets'), '51p', '73p', '£1.12'),
        (_('4 sheets'), '56p', '78p', '£1.20'),
        (_('5 sheets'), '61p', '83p', '£1.28'),
      ] %}
        {% call row() %}
          {% call row_heading() %} {{ sheets }} {% endcall %}
          {{ text_field(second + ' + VAT') }}
          {{ text_field(first + ' + VAT') }}
          {{ text_field(international + ' + VAT') }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

{% endblock %}
