{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  {{_('{} are disabled').format(notification_type.capitalize())}}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header(_('{} are disabled').format(notification_type.capitalize())) }}
      <p class="govuk-body">
        {{_('Sending %%s has been disabled for your service.') % (999|message_count_label(notification_type, suffix='')) }}
      </p>
      <p class="govuk-body">
        {{_("If you need to send %%s
        <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">get in touch with the GOV.UK Notify team</a>.") % (
          999|message_count_label(notification_type, suffix=''),
          url_for('.support'),
        )}}
      </p>

    </div>
  </div>

{% endblock %}
