{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/radios.html" import radio_select %}
{% from "components/table.html" import list_table, field, text_field, index_field, hidden_field_heading %}
{% from "components/file-upload.html" import file_upload %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  {{_('Error')}}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.upload_contact_list', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="bottom-gutter-1-2">
    {% call banner_wrapper(type='dangerous') %}

      {% if not recipients|length %}

        <h1 class='banner-title' data-notify-module="track-error" data-error-type="No rows" data-error-label="{{ upload_id }}">
          {{_('Your file is missing some rows')}}
        </h1>
        <p class="govuk-body">
          {%- if template_type %}
          {{_('It needs at least one row of data.')}}
          {% else %}
          {{_('It needs at least one row of data, in a column called ‘email address’ or ‘phone number’.')}}
          {% endif %}
        </p>

      {% elif recipients.column_headers|length == 1 %}

        <h1 class='banner-title' data-notify-module="track-error" data-error-type="Too many rows" data-error-label="{{ upload_id }}">
          {{_('Your file needs a column called ‘email address’ or ‘phone number’.')}}
        </h1>
        <p class="govuk-body">
          {{_("Right now it has 1 column called ‘%%s’.") % recipients._raw_column_headers[0]}}
        </p>

      {% else %}

        <h1 class='banner-title' data-notify-module="track-error" data-error-type="Too many rows" data-error-label="{{ upload_id }}">
          {{_('Your file has too many columns')}}
        </h1>
        <p class="govuk-body">
          {{_('It needs to have 1 column, called ‘email address’ or ‘phone number’.')}}
        </p>
        <p class="govuk-body">
          {{_("Right now it has %%(herder_length)s columns called %%(headers)s.") % {
            'herder_length': recipients._raw_column_headers|length,
            'herders': recipients._raw_column_headers | formatted_list,
          }}}
        </p>

      {% endif %}
    {% endcall %}
  </div>


  <div class="js-stick-at-top-when-scrolling">
    <div class="form-group">
      {{ file_upload(
        form.file,
        allowed_file_extensions=allowed_file_extensions,
        action=url_for('.upload_contact_list', service_id=current_service.id),
        button_text=_('Upload your file again')
      ) }}
    </div>
    <a href="#content" class="govuk-link govuk-link--no-visited-state back-to-top-link">{{_('Back to top')}}</a>
  </div>

    {% set column_headers = recipients._raw_column_headers if recipients.duplicate_recipient_column_headers else recipients.column_headers %}

    <h2 class="heading-medium" id="file-preview">{{ original_file_name }}</h2>

    <div class="fullscreen-content" data-notify-module="fullscreen-table">
      {% call(item, row_number) list_table(
        recipients.displayed_rows,
        caption=original_file_name,
        caption_visible=False,
        field_headings=[
          _('<span class="govuk-visually-hidden">Row in file</span> <span aria-hidden="true">1</span>')|safe
        ] + recipients._raw_column_headers
      ) %}
        {{ index_field(item.index + 2) }}
        {% for column in column_headers %}
          {% if item[column].ignore %}
            {{ text_field(item[column].data or '', status=_('default')) }}
          {% else %}
            {{ text_field(item[column].data or '') }}
          {% endif %}
        {% endfor %}
        {% if item[None].data %}
          {% for column in item[None].data %}
            {{ text_field(column, status=_('default')) }}
          {% endfor %}
        {% endif %}
      {% endcall %}
  </div>

  {% if recipients.displayed_rows|list|length < recipients|length %}
    <p class="table-show-more-link">
      {{_('Only showing the first %%s rows') % recipients.displayed_rows|list|length}}
    </p>
  {% endif %}

{% endblock %}
