{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = _('Using Notify') %}

{% block per_page_title %}
  {{_('Branding and customisation')}}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{_('Branding and customisation')}}</h1>

  <p class="govuk-body">{{_('This page explains how to:')}}</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="#email-branding">{{_('change your email branding')}}</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#reply-to-address">{{_('add a reply-to email address')}}</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#text-message-sender">{{_('change the text message sender')}}</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#letter-branding">{{_('change your letter branding')}}</a></li>
  </ul>

  <h2 class="heading-medium" id="email-branding">{{_('Change your email branding')}}</h2>

  <p class="govuk-body">{{_('The default branding for email templates is the GOV.UK logo.')}}</p>

  <p class="govuk-body">{{_('To change your email branding:')}}</p>

  <ol class="govuk-list govuk-list--number">
    <li>{{_("Go to the <b class=\"govuk-!-font-weight-bold\">Email settings</b> section of the %%s page.") % service_link(current_service, 'main.service_settings', 'settings')}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Change</b> on the <b class=\"govuk-!-font-weight-bold\">Email branding</b> row.")}}</li>
  </ol>

  <h2 class="heading-medium" id="reply-to-address">{{_('Add a reply-to email address')}}</h2>

  <p class="govuk-body">{{_("You can choose the email address that your users reply to. You must add at least one reply-to address for your service before you can <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">request to go live</a>.") % url_for('main.trial_mode_new')}}</p>

  <p class="govuk-body">{{_('To add a reply-to email address:')}}</p>

  <ol class="govuk-list govuk-list--number">
    <li>{{_("Go to the <b class=\"govuk-!-font-weight-bold\">Email settings</b> section of the %%s page.") % service_link(current_service, 'main.service_settings', 'settings')}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Manage</b> on the <b class=\"govuk-!-font-weight-bold\">Reply-to email addresses</b> row.")}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Add reply-to address</b>.")}}</li>
  </ol>

  <h2 class="heading-medium" id="text-message-sender">{{_('Change the text message sender')}}</h2>

  <p class="govuk-body">{{_('The text message sender tells your users who the message is from.')}}</p>

  <p class="govuk-body">{{_('To change the text message sender from the default of ‘GOVUK’:')}}</p>

  <ol class="govuk-list govuk-list--number">
    <li>{{_("Go to the <b class=\"govuk-!-font-weight-bold\">Text message settings</b> section of the %%s page.") % service_link(current_service, 'main.service_settings', 'settings')}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Manage</b> on the <b class=\"govuk-!-font-weight-bold\">Text message senders</b> row.")}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Change</b> or <b class=\"govuk-!-font-weight-bold\">Add text message sender</b>.")}}</li>
</ol>

  <h2 class="heading-medium" id="letter-branding">{{_('Change your letter branding')}}</h2>

  <p class="govuk-body">{{_('Letter templates do not have default branding.')}}</p>

  <p class="govuk-body">{{_('To add a logo to your letters:')}}</p>

  <ol class="govuk-list govuk-list--number">
    <li>{{_("Go to the <b class=\"govuk-!-font-weight-bold\">Letter settings</b> section of the %%s page.") % service_link(current_service, 'main.service_settings', 'settings')}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Change</b> on the <b class=\"govuk-!-font-weight-bold\">Letter branding</b> row.")}}</li>
  </ol>

{% endblock %}
