{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = _('Using Notify') %}

{% block per_page_title %}
  {{_('Edit and format messages')}}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{_('Edit and format messages')}}</h1>

  <p class="govuk-body">{{_('This page explains how to:')}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="#formatting">{{_('format your content')}}</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#links">{{_('add links')}}</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#personalised-content">{{_('personalise your content')}}</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#optional-content">{{_('add optional content')}}</a></li>
  </ul>

  <h2 class="heading-medium" id="formatting">{{_('Format your content')}}</h2>

  <p class="govuk-body">{{_('You can see a list of formatting instructions on the edit template page:')}}</p>

  <ol class="govuk-list govuk-list--number">
    <li>{{_("Go to the %%s page.") % service_link(current_service, 'main.choose_template', 'templates')}}</li>
    <li>{{_("Add a new template or choose an existing template and select <b class=\"govuk-!-font-weight-bold\">Edit</b>.")}}</li>
  </ol>

  <p class="govuk-body">{{_('Email templates can include:')}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{_('headings')}}</li>
    <li>{{_('bullets')}}</li>
    <li>{{_('inset text')}}</li>
    <li>{{_('horizontal rules')}}</li>
  </ul>

  <p class="govuk-body">{{_('Letter templates can include headings and bullets.')}}</p>

  <p class="govuk-body">{{_('Notify does not allow bold, italics, subheadings, underlined text or different fonts. This is because they can make it harder for users to read what you’ve written.')}}</p>

  <h2 class="heading-medium" id="links">{{_('Add links')}}</h2>

  <p class="govuk-body">{{_('When composing an email or text message, write URLs in full and Notify will convert them into links for you.')}}</p>

  <p class="govuk-body">{{_('You cannot convert text into a link. Research shows that people like to check a URL looks genuine before clicking the link in an email. This is hard to do if the URL is hidden behind clickable link text.')}}</p>

  <p class="govuk-body">{{_('We do not recommend using a third-party link shortening service because:')}}</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>{{_('your users cannot see where the link will take them')}}</li>
    <li>{{_('your link might stop working if there’s a service outage')}}</li>
    <li>{{_('you can no longer control where the redirect goes')}}</li>
  </ul>

  <h2 class="heading-medium" id="personalised-content">{{_('Personalise your content')}}</h2>

  <p class="govuk-body">{{_('To personalise the content of your messages, add a placeholder to the template.')}}</p>

  <p class="govuk-body">{{_('Placeholders are filled in with details, like a name or reference number, each time you send a message.')}}</p>

  <p class="govuk-body">{{_('To add a placeholder to the template:')}}</p>

  <ol class="govuk-list govuk-list--number">
    <li>{{_("Go to the %%s page.") % service_link(current_service, 'main.choose_template', 'templates')}}</li>
    <li>{{_("Add a new template or choose an existing template and select <b class=\"govuk-!-font-weight-bold\">Edit</b>.")}}</li>
    <li>{{_("Add a placeholder using double brackets. For example: Hello ((first&nbsp;name)), your reference is ((ref&nbsp;number)).")}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Save</b>.")}}</li>
  </ol>

  <p class="govuk-body">{{_('When you send a message you can either:')}}</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>{{_("manually fill in the placeholders yourself")}}</li>
    <li>{{_("upload a list of personal details and let Notify do it for you")}}</li>
  </ul>

  <p class="govuk-body">{{_('If you upload a list, the column names need to match the placeholders in your template.')}}</p>

  <h2 class="heading-medium" id="optional-content">{{_('Add optional content')}}</h2>

  <p class="govuk-body">{{_('To add optional content to your messages:')}}</p>

  <ol class="govuk-list govuk-list--number">
    <li>{{_('Go to the %%s page.') % service_link(current_service, 'main.choose_template', 'templates')}}</li>
    <li>{{_("Add a new template or choose an existing template and select <b class=\"govuk-!-font-weight-bold\">Edit</b>.")}}</li>
    <li>{{_("Use double brackets and ?? to define optional content. For example, if you only want to show something to people who are under 18: ((under18??Please get your application signed by a parent or guardian.))")}}</li>
    <li>{{_("Select <b class=\"govuk-!-font-weight-bold\">Save</b>.")}}</li>
  </ol>

  <p class="govuk-body">{{_('For each person you send this message to, specify ‘yes’ or ‘no’ to show or hide this content. You can either:')}}</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>{{_('do this yourself')}}</li>
    <li>{{_('upload a list of personal details and let Notify do it for you')}}</li>
  </ul>

  <p class="govuk-body">{{_('If you upload a list, the column names need to match the optional content in your template.')}}</p>

{% endblock %}
