<h2 class="heading-medium">
  {{_('Delivery times')}}
</h2>
<p class="govuk-body">
  {{_('Letters sent before 5:30pm are dispatched the next working day (Monday to Friday).')}}
</p>
<p class="govuk-body">
  {{_("First class letters are delivered one day after they're dispatched. Second class letters are delivered 2 days after they're dispatched.")}}
</p>
<p class="govuk-body">
  {{_('Royal Mail delivers from Monday to Saturday, excluding bank holidays.')}}
</p>
<p class="govuk-body">
  {{_("See a list of <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">postage prices</a>.") % (url_for('.pricing') + '#letters')}}
</p>
