<h1 class='banner-title' data-notify-module="track-error" data-error-type="Trial mode: too many recipients" data-error-label="{{ upload_id }}">
  {% if original_file_name %}
    {{_('Too many recipients')}}
  {% else %}
    {{_('Daily limit reached')}}
  {% endif %}
</h1>
<p class="govuk-body">
  {{_('You can only send %%s messages per day') % current_service.message_limit|format_thousands}}
  {%- if current_service.trial_mode %}
    {{_("in <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">trial mode</a>") % url_for('.trial_mode_new')}}
  {%- endif -%}
  .
</p>
{% if original_file_name %}
  <p class="govuk-body">
    {% if current_service.message_limit != remaining_messages %}
      {{_('You can still send %%s messages today, but') % remaining_messages|format_thousands}}
    {% endif %}
    {{_("‘%%s’ contains %%s.") % (
        original_file_name,
        count_of_recipients|recipient_count(template.template_type)
    )}}
  </p>
{% endif %}
