{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  {{_('Your service is already live')}}
{% endblock %}

{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ page_header(_('Your service is already live')) }}

      <p class="govuk-body">
        {% if current_service.go_live_at %}
          {{_("‘%%s’ went live on %%s.") % (
              current_service.name,
              current_service.go_live_at | format_date_normal
          )}}
        {% else %}
          {{_("‘%%s’ is already live.") % current_service.name}}
        {% endif %}
        </p>

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.choose_account') }}">{{_('Switch service')}}</a>
         {{_('if you want to make a different service live.')}}
      </p>

    </div>
  </div>
{% endblock %}
