{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  {{_('Sign-in method')}}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header(_('Sign-in method')) }}
      {% if 'email_auth' in current_service.permissions %}
        <p class="heading-small bottom-gutter-2-3">
          {{_('Email link or text message code')}}
        </p>
        <p class="govuk-body">
          {{_("Your team members can sign in with either a text message code
          or an email link.")}}
        </p>
        <p class="govuk-body">
          {{_("You can <a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">set the sign-in method for individual team members</a>.") % url_for('.manage_users', service_id=current_service.id)}}
        </p>
      {% else %}
        <p class="heading-small bottom-gutter-2-3">
          {{_('Text message code')}}
        </p>
        <p class="govuk-body">
          {{_('Your team members sign in with a text message code.')}}
        </p>
        <p class="govuk-body">
          {{_("<a class=\"govuk-link govuk-link--no-visited-state\" href=\"%%s\">Contact us</a> if signing in with a text message is a problem for your team.") % url_for('.support')}}
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
