{% extends "org_template.html" %}
{% from "components/table.html" import mapping_table, optional_text_field, row, field, text_field, edit_field with context %}

{% block org_page_title %}
  {{_('Settings')}}
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-medium">{{_('Settings')}}</h1>
  <div class="bottom-gutter-3-2 settings-table body-copy-table">
    {% call mapping_table(
      caption=_('General'),
      field_headings=[_('Label'), _('Value'), _('Action')],
      field_headings_visible=False,
      caption_visible=False
    ) %}
      {% call row() %}
        {{ text_field(pgettext('in table list', 'Name')) }}
        {{ text_field(current_org.name) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_name', org_id=current_org.id),
            suffix=_('organisation name')
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Sector')) }}
        {{ optional_text_field(current_org.organisation_type_label) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_type', org_id=current_org.id),
            suffix=_('sector for the organisation')
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Crown organisation')) }}
        {{ optional_text_field(
            {
              True: _('Yes'),
              False: _('No'),
            }.get(current_org.crown),
            default=_('Not sure')
        ) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_crown_status', org_id=current_org.id),
            suffix=_('organisation crown status')
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Data sharing and financial agreement')) }}
        {{ text_field(
          {
            True: _('Signed'),
            False: _('Not signed'),
            None: _('Not signed (but we have some service-specific agreements in place)')
          }.get(current_org.agreement_signed)
        ) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_agreement', org_id=current_org.id),
            suffix=_('data sharing and financial agreement for the organisation')
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Request to go live notes')) }}
        {{ optional_text_field(current_org.request_to_go_live_notes, default=_('None')) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_go_live_notes', org_id=current_org.id),
            suffix=_('go live notes for the organisation')
          )
        }}
      {% endcall %}

      {% call row() %}
        {{ text_field(_('Billing details'))}}
        {{ optional_text_field(current_org.billing_details, default=_("None"), wrap=True) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_billing_details', org_id=current_org.id),
            suffix=_('billing details for the organisation')
          )
        }}
      {% endcall %}

      {% call row() %}
        {{ text_field(_('Notes'))}}
        {{ optional_text_field(current_org.notes, default=_("None"), wrap=True) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_notes', org_id=current_org.id),
            suffix=_('the notes for the organisation')
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Email branding options')) }}
        {% set email_branding_html %}
          <div {% if current_org.email_branding_pool_excluding_default %}class="govuk-!-margin-bottom-3"{% endif %}>
            {{ current_org.email_branding.name }}
            <br>
            <div class="table-field-status-default">
              {{_('Default')}}
            </div>
          </div>

          {% for item in current_org.email_branding_pool_excluding_default %}
            {% if loop.first %}<ul>{% endif %}
              <li>
                {{ item.name }}
              </li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        {% endset %}
        {% call field() %}
          {{ email_branding_html }}
        {% endcall %}
        {{ edit_field(
            _('Change'),
            url_for('.organisation_email_branding', org_id=current_org.id),
            suffix=_('email branding options for the organisation')
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Default letter branding')) }}
        {{ optional_text_field(
          current_org.letter_branding.name if current_org.letter_branding else None,
          default=_('No branding')
        ) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_letter_branding', org_id=current_org.id),
            suffix=_('default letter branding for the organisation')
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Letter branding options')) }}
        {{ optional_text_field(letter_branding_pool_names, default=_("None")) }}
        {{ edit_field(
            _('Change'),
            url_for('.organisation_letter_branding', org_id=current_org.id),
            suffix=_('letter branding options for the organisation')
            )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Known email domains')) }}
        {{ optional_text_field(current_org.domains or None, default=_('None')) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_domains', org_id=current_org.id),
            suffix=_('known email domains for the organisation')
          )
        }}
      {% endcall %}
    {% endcall %}
    {% if current_org.active %}
      <p class="top-gutter-1-2">
        <span class="page-footer-link page-footer-delete-link-without-button">
          <a class="govuk-link govuk-link--destructive" href="{{ url_for('.archive_organisation', org_id=current_org.id) }}">
            {{_('Delete this organisation')}}
          </a>
        </span>
      </p>
    {% endif %}
  </div>
{% endblock %}
